@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.neu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0.6rem 0.9rem;
  margin: 0 12px;
  box-shadow:
    inset 0px 0px 0px rgb(12, 12, 12),
    inset 0px 0px 0px rgb(26, 26, 26);
  cursor: pointer;
  text-transform: uppercase;
  transition: box-shadow 0.1s linear;
  font-size: 16px;
}

.neu-button:hover {
  color: rgb(225, 225, 225);
  box-shadow:
    inset 3px 3px 7px rgb(12, 12, 12),
    inset -3px -3px 7px rgb(26, 26, 26);
}

.neu-button-rounded {
  margin: 0.3rem 0.6rem 0.3rem 0.6rem;
  width: 54px;
  height: 54px;
  font-size: 24px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow:
    3px 3px 7px rgb(12, 12, 12),
    -3px -3px 7px rgb(26, 26, 26),
    inset 0px 0px 0px rgb(12, 12, 12),
    inset 0px 0px 0px rgb(26, 26, 26);
  transition: box-shadow 0.1s linear;
  cursor: pointer;
}

.neu-button-rounded:hover {
  box-shadow:
    0px 0px 7px rgb(12, 12, 12),
    0px 0px 7px rgb(26, 26, 26),
    inset 3px 3px 7px rgb(12, 12, 12),
    inset -3px -3px 7px rgb(26, 26, 26);
}

.neu-flat {
  box-shadow:
    3px 3px 7px rgb(12, 12, 12),
    -3px -3px 7px rgb(26, 26, 26),
    inset 0px 0px 0px rgb(12, 12, 12),
    inset 0px 0px 0px rgb(26, 26, 26);
  border-radius: 20px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
